* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  body{
    overflow-x: hidden;
  }
  
  .home,
  .careers,
  .sign-in,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
/* colores */

.color-white {
  color: #ffffff;
}

.blue-bg {
  background-color: #1997d6;
}

.transparent-bg {
  background-color: transparent;
}

.color-orange {
  color: #e7bd2b;
}

.color-blue {
  color: #1997d6;
}

.color-gray {
  color: #424242;
}

.light-blue-color {
  color: #1db4f0;
}

.high-blue-color {
  color: #005295;
}

  
  .careers {
    background-image: url('components/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-in {
    background-image: url('components/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('components/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  figure {
    margin: 0 0 0rem !important;
  }